@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
}

canvas{
    font-family: 'Minecraft';
    background-image: url("../images/nebula-bg.jpg");
}

html, body {margin: 0; height: 100%; overflow: hidden}
